button {
    color: black;
    /* background: linear-gradient(80deg, 
     orange 30%, yellow 31% 100%); */

    font-size: 1rem;
    border: 0;
    border-radius: 1rem;

    height: 3rem;
    width: 12rem;

    padding-left: 3rem;
    margin: 1rem;
}

button:nth-child(2) {
    color: white;
    background-color: black;
}

button:nth-child(2):before {
    content: "A: ";
}

button:nth-child(3) {
    color: white;
    background-color: blue;
}

button:nth-child(3):before {
    content: "S: ";
}

button:nth-child(4) {
    color: white;
    background-color: red;
}

button:nth-child(4):before {
    content: "D: ";
}