img.Dogopedia {
    max-width: 100%;
    max-height: 100%;
}

.DogopediaDetailsDiv {
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    width: 90%;
    margin: auto;
}

.textDiv {
    margin: auto;
    align-content: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 180%;
    animation: animateleft 1.0s;
}

.dogImageContainerDiv {
    display: flex;
    /* or inline-flex */
    flex-wrap: wrap;
}

.dogWikiDiv {
    margin: 40px 10px 50px 10px;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.dogImageDiv {
    width: 250px;
    margin: 40px 10px 10px 10px;
    position: relative;
    border-radius: 7px;
    border-style: solid;
    border-width: 0px;
    filter: drop-shadow(0 0 1.0rem black);
    animation: animatebottom 1.0s;
}

.dogPicture:hover {
    animation: growbigger 2.0s
}

.linkBackToMain {
    text-align: center;
    font-size: 140%;
    margin: 80px auto;
}

@keyframes animatebottom {
    from {
        bottom: -500px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes growbigger {
    from {
        max-width: 40%;
    }
    to {
        max-width: 100%;
    }
}

a:link, visited {
    color: black;
}

/* A link that has been visited */

a:visited {
    color: black;
}

/* A link that is hovered on */

a:hover {
    color: red;
    animation: bluetored 1.0s;
}

@keyframes bluetored {
    from {
        color: blue;
    }
    to {
        color: red;
    }
}